.email-modal-overlay {
  display: none;
  position: fixed !important;
  z-index: 9999 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);

  &__content {
    background-color: #fff;
    margin: 15% auto;
    padding: 3rem;
    border-radius: $commonBorderRadius * 2;
    width: 90%;
    max-width: 500px;
    position: relative;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  &__close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;

    &:hover,
    &:focus {
      color: $themeClrPrimary;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__heading {
      margin-bottom: 2rem;
      color: #333;
      font-size: 2.4rem;
      font-weight: 700;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__btn {
      width: 100%;
      text-align: center;
      padding: 1.5rem 0;
      font-size: 1.6rem;
      display: block;
      text-decoration: none;
  }
}
